body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination {
  background-color: #deeaf6;
  user-select: none;
  outline: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.pagination .active {
  background-color: #aad1f8;
  outline: none;
  padding: 0 10px;
  border-radius: 20px;
}

.taskslist {
  margin: 1rem auto;
}

.task {
  margin: .25rem auto;
}